body {
    text-align: center;
    background-color: burlywood;
}

p {
   color: brown;
   font-size: 15px;
}

.container {
    text-align: center;
    background-color: navy;
    color: white;
    width: 500px;
    height: 300px;
    margin: 100px auto 100px;
    padding: 25px;
  }
